.bt{
    color: rgb(211, 32, 32);
    border-radius: 40;
    border: 3px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(211, 32, 32);
    color: black;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.panel-heading {
    background-color: rgb(211, 32, 32);
    color: #fff;
    border-color: rgb(211, 32, 32);
}

.tawa {
    background-color: rgb(211, 32, 32);
    color: #fff;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
    width: 120px;
    height: 50px;
}

.glyphicon-user {
    color: black;
    background-color: silver;
    border-color: black;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: silver;
    border-radius: 40%;
}

.nav li.active a,
.nav li a:hover {
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #fff;
    color: #00BFF0;
}

.navbar-inverse .navbar-nav .active a:hover {
    font-size: 12px;
    color: silver;
    background-color: #ffff;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.btn-default {
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: rgb(211, 32, 32);
    border: 2px solid #fff;
}

.btn:hover {
    border-radius: 40%;
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: rgb(211, 32, 32);
    border: 2px solid #fff;
}

.btn-lg {
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: silver;
    border: 2px solid #fff;
}

.btn-lg:hover {
    border-radius: 40%;
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background: silver;
    border: 2px solid #fff;
}

@media (max-width: 800px) {
    .carousel-caption {
        display: none;
    }
}

.img {
    background-color: #f3f3f3;
    width: 100%;
    height: 50%;
    align-self: center;
}

.glyphicon {
    color: rgb(211, 32, 32);
}

.h {
    color: rgb(211, 32, 32);
}

.footer {
    width: 100%;
    background-color: rgb(211, 32, 32);
    padding: 3%;
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 25px;
    color: #fff;
}

.fa:hover {
    text-decoration: none;
    color: #D5D5D5;
}

@media (max-width: 800px) {
    .fa {
        font-size: 20px;
        padding: 10px;
    }
}

.main-color-bg {
    background-color: rgb(211, 32, 32);
}

.pannel-title {
    color: #fff;
}

.thumbnail {
    width: 100%;
    height: 150px;
}

.jumbotron {
    border: 2px solid black;
}

.t {
    font-size: 18px;
    color: rgb(211, 32, 32);
}